.idea
backend/social_app/__pycache__
backend/chat/__pycache__
.DS_Store
*.pyc
frontend/.env
/frontend/node_modules
/backend/groups/migrations
/backend/courts/migrations
/backend/game/migrations
/backend/users/migrations
backend/db.sqlite3
